@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.head {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: "Roboto";
    padding: 10px;
}

.span {
    color: green;
}

.para {
    color: black;
    font-size: 24px;
    padding: 10px;
}

.image {
    height: 250px;
    width: 250px;
}

.image12 {
    height: 350px;
    width: 350px;
}

.image2 {
    height: 200px;
    width: 200px;
}

.card {
    min-height: 200px;
    width: 100%;
    margin: 10px;
}

.cardhead {
    color: black;
    font-size: 20px;
    padding: 10px;
}

.icon {
    padding: 5px;

}

body {}

.sec-heading {
    margin-bottom: 50px;
}

.sec-heading h2 {
    text-align: center;
    font-family: allura;
    font-size: 80px;
}

.clients {
    padding: 200px 0;
}

.box {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 60%;
    height: auto;
    transition: transform .5s ease-in;
    margin: 8px auto;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.box:hover {
    transform: scale(1.2);
}

.greencard {
    background-color: #006400;


}

.white {
    color: white;

}

.icon1 {
    height: 200px;
    width: 150px;
}

.h1 {
    color: black;
    font-size: 50px;
}

.para1 {
    font-size: 18px;
}

.w3rcontainer {
    border: 1px solid #cccfdb;
    border-radius: 2px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navimg {
    height: 300px;
    width: 100px;
}

.bg {
    background-image: linear-gradient(blue, skyblue);
}

.btn {
    background-color: #1d4a35;
    color: white;
}

.btn1 {
    background-color: green;
    color: white;
}

.navbg {
    color: green;
}

.navbar {
    background-color: #1d4a35;
    height: 14vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container {
    width: 100%;
}

a {
    margin-left: 10px;
    color: white;
}

svg {
    color: white;
    padding-top: 1px;
    margin: 2px;
}

.download {
    background-color: #8dc231;
    border-color: #8dc231;
    color: #fff;
    margin: 6px;
    padding: 0px 20px;
    margin-left: 10px;
}

.icon3 {
    height: 150px;
    width: 150px;
}